.portfolio-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
  margin-top: 50px;
  z-index: -1;
}
.row {
  /* width: 400px; */
  /* height: 350px; */
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 0.9rem;
}
.row img {
  width: 100%;
  height: 250px;
  border-radius: 0.9rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  background: linear-gradient(rgb(0, 0, 0, 0.1), #000);
  position: absolute;
  bottom: 0;
  height: 0;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  transition: height 0.5s;
}
.layer h2 {
  color: #fff;
  font-size: 24px;
  padding: 10px 0 10px 0;
  font-weight: 600;
}
.layer p {
  font-size: 14px;
}
.link a {
  font-size: 25px;
  color: var(--main-color);
  background-color: #fff;
  width: 60px;
  height: 00px;
  align-items: center;
  /* justify-content: center; */
  padding: 15px;
  border-radius: 100%;
}
.row:hover img {
  transform: scale(1.1);
}
.row:hover .layer {
  height: 100%;
}
